:root {
  --background-color: rgb(255, 255, 255);
  --text-color: rgb(0, 0, 0);
  --accent-color: rgb(0, 123, 255);
  --border-color: rgb(34, 34, 34);
  --cell-color: rgb(0, 0, 0);
  --disabled-color: rgb(164, 164, 164);
  --disabled-shadow: 0 0 3px 5px var(--disabled-color);
  --active-shadow: 0 0 3px 3px var(--text-color);
  --cell-shadow: 0 0 2px 0.5px var(--text-color);
  --cell-size: 30px;
  --arrow-size: 10px;
  --main-font-size: 24px;
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 100vh;
  font-family: "Miriam Libre", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: var(--main-font-size);
  color: var(--text-color);
  background-color: var(--background-color);
  transition: background-color 0.3s;

  &.theme-dark {
    --background-color: rgb(34, 34, 34);
    --text-color: rgb(255, 255, 255);
    --accent-color: rgb(0, 167, 255);
    --border-color: rgb(184, 184, 184);
    --cell-color: rgb(255, 255, 255);
    --active-shadow: 0 0 3px 3px var(--text-color);
    --cell-shadow: 0 0 2px 0.5px var(--text-color);

    .sounds__on {
      background: url(../icons/on-white.svg);
    }

    .sounds__off {
      background: url(../icons/off-white.svg);
    }
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.header {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 20px 0;
  }

  &__logo {
    width: 40px;
    height: 40px;
  }
}

.logo {
  width: 40px;
  height: 40px;

  rect {
    stroke: var(--text-color);
  }

  rect:nth-child(2) {
    fill: var(--text-color);
  }

  rect:nth-child(5) {
    fill: var(--text-color);
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;

  &__item {
    font-size: 0.8em;
  }

  &__link {
    text-transform: capitalize;
  }
}

.sounds {
  position: relative;

  &__label {
    cursor: pointer;
    display: block;
    width: 25px;
    height: 25px;
    transition: background 0.3s;
  }

  &__input {
    position: absolute;
    appearance: none;
  }

  &__on {
    background: url(../icons/on.svg);
  }

  &__off {
    background: url(../icons/off.svg);
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 100%;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  flex: 1 1 100%;

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &__title {
    text-align: center;
  }

  &__select {
    display: flex;
    gap: 20px;
  }

  &__place {
    display: inline-grid;
    grid-template-areas:
      "empty top"
      "left body";
  }

  &__top {
    grid-area: top;
  }

  &__left {
    grid-area: left;
  }

  &__body {
    grid-area: body;
  }

  &__cells {
    display: flex;
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);

    &:first-child {
      border-top: 2px solid var(--border-color);
    }

    &-border {
      .game__cell {
        border-bottom: 2px solid var(--border-color);
      }

      &:last-child {
        border-bottom: 2px solid var(--border-color);
      }
    }
  }

  &__cell {
    position: relative;
    border: 0.5px solid var(--border-color);
    background-color: var(--background-color);
    transition: background-color 0.3s;

    &-inner {
      cursor: pointer;
      width: var(--cell-size);
      height: var(--cell-size);
    }

    &-unuse {
      cursor: inherit;
    }

    &-border {
      border-right: 2px solid var(--border-color);
    }

    &-fill {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        height: 80%;
        background-color: var(--cell-color);
        transform: translate(-50%, -50%);
        border-radius: 2px;
        box-shadow: var(--cell-shadow);
      }
    }

    &-cross {

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 2px;
        background-color: var(--cell-color);
        border-radius: 2px;
      }

      &::before {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__button {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 0.7em;
    font-weight: 600;
    background-color: var(--text-color);
    color: var(--background-color);
    border: none;
    box-shadow: 0 0 3px 5px var(--text-color);
    transition: background-color 0.3s, box-shadow 0.3s;

    &:disabled {
      cursor: inherit;
      user-select: none;
      background-color: var(--disabled-color);
      box-shadow: var(--disabled-shadow);
      color: #ffffff;

      &:active {
        box-shadow: var(--disabled-shadow);
      }
    }

    &:active {
      box-shadow: var(--active-shadow);
    }
  }
}

.select {
  $this: &;
  position: relative;
  background-color: var(--background-color);
  width: 150px;
  z-index: 99;

  &__header {
    position: relative;
    cursor: pointer;
    display: flex;
    border: 1px solid var(--border-color);

    &--open {
      #{$this}__current {

        &::before {
          transform: translateY(-50%) rotate(-45deg);
        }

        &::after {
          transform: translateY(-50%) rotate(45deg);
        }
      }
    }
  }

  &__current {
    font-size: 0.8em;
    line-height: 24px;
    padding: 8px;
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      width: var(--arrow-size);
      height: 2px;
      top: 50%;
      right: calc(var(--arrow-size) * 2 / 1.7);
      background-color: var(--text-color);
      transform: translateY(-50%) rotate(45deg);
      transition: transform 0.3s;
    }

    &::after {
      content: "";
      position: absolute;
      width: var(--arrow-size);
      height: 2px;
      top: 50%;
      right: calc(var(--arrow-size) / 1.7);
      background-color: var(--text-color);
      transform: translateY(-50%) rotate(-45deg);
      transition: transform 0.3s;
    }
  }

  &__body {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    max-height: 300px;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-top: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;

    &--show {
      opacity: 1;
      visibility: visible;
    }
  }

  &__option {
    cursor: pointer;
    padding: 8px;
    font-size: 0.8em;
    line-height: 24px;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--text-color);
      color: var(--background-color)
    }

    &--inactive {
      cursor: inherit;
      background-color: var(--text-color);

      &:hover {
        background-color: var(--text-color);
      }
    }

    &-current {
      cursor: inherit;
      user-select: none;
      background-color: var(--text-color);
      color: var(--background-color);

      &:hover {
        background-color: var(--text-color);
      }
    }
  }
}

.timer {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1em;
}

.clues {
  font-size: 0.7em;

  &__top {
    display: flex;
    flex-direction: row;
    border-top: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      border: 0.5px solid var(--border-color);

      &-border {
        border-right: 2px solid var(--border-color);
      }
    }

    &-num {
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--cell-size);
      height: var(--cell-size);
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);

    &-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      border: 0.5px solid var(--border-color);

      &-border {
        border-bottom: 2px solid var(--border-color);
      }
    }

    &-num {
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--cell-size);
      height: var(--cell-size);
    }
  }
}

.modal {
  position: fixed;
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in, visibility 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 100;

  &--show {
    opacity: 1;
    visibility: visible;
  }

  &__overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--text-color);
    opacity: 0.5;
    z-index: 1;
  }

  &__wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 400px;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 0 20px;
    border-radius: 5px;
    background-color: var(--background-color);
  }

  &__close {
    cursor: pointer;
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 10px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: var(--text-color);
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }

  &__title {
    text-align: center;
  }

  &__text {
    text-align: center;
    margin-bottom: 10px;
  }

  &__time {
    text-align: center;
  }
}

.scores {
  font-size: 0.9em;
  border: 2px solid var(--border-color);
  border-collapse: collapse;

  &__head {
    border: 2px solid var(--border-color);
  }

  &__row {

    &:nth-child(odd) {
      background-color: var(--disabled-color);

      .score__item {
        border: none;
      }
    }
  }

  &__item {
    padding: 5px 10px;
  }

  &__name {
    text-transform: capitalize;
    padding: 5px 10px;
  }
}

.theme {
  &__list {
    position: relative;
    width: 30px;
    height: 30px;
  }

  &__item {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s, visibility 0.3s;
  }

  &__hide {
    opacity: 0;
    visibility: hidden;
  }
}

.footer {
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;

  }

  &__text {
    font-size: 0.8em;
  }
}