@media screen and (max-width: 700px) {
  :root {
    --cell-size: 20px;
    --main-font-size: 18px;
  }

  .header {
    &__content {
      margin: 10px 0 40px 0;
    }

    &__logo {
      width: 30px;
      height: 30px;
    }
  }

  .logo {
    width: 30px;
    height: 30px;
  }

  .modal {
    &__wrap {
      max-width: 400px;
    }
  }
}

@media screen and (max-width: 500px) {
  :root {
    --cell-size: 18px;
    --main-font-size: 16px;
    --arrow-size: 8px;
  }

  .container {
    padding: 0 10px;
  }
}